In [2]:
import pandas as pd
import numpy as np

In [11]:
import os
current_path = os.getcwd()

In [12]:
current_path

'C:\\Users\\yangc\\covid-19-data\\live'

In [3]:
data = pd.read_csv("us-states.csv")

In [7]:
data[data['state'] == 'Alabama']

,date,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2021-05-02,Alabama,1,528309,10913,408684.0,8602.0,119625.0,2311.0

In [13]:
data = pd.read_csv('C:/Users/yangc/covid-19-data/us-states.csv')

             date          state  fips   cases  deaths
0      2020-01-21     Washington    53       1       0
1      2020-01-22     Washington    53       1       0
2      2020-01-23     Washington    53       1       0
3      2020-01-24       Illinois    17       1       0
4      2020-01-24     Washington    53       1       0
...           ...            ...   ...     ...     ...
23384  2021-05-01       Virginia    51  660553   10777
23385  2021-05-01     Washington    53  406546    5547
23386  2021-05-01  West Virginia    54  153498    2679
23387  2021-05-01      Wisconsin    55  661414    7569
23388  2021-05-01        Wyoming    56   58142     707

[23389 rows x 5 columns]